:root {
  /* 공통 색상 */
  --color-pink-light: #fff0f0;
  --color-blue-green: #28b4b4;
  /* Font Size */

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

body {
  background-image: url(../../public/img/cool-background.png);
  margin: auto;
  height: 78em;
}

.box {
  /* background-color: pink; */
  margin: auto;
  width: 60%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgba(000, 153, 225, 0.3);
  height: 15%;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-pink-light);
  text-align: center;
}
